<%= display_error %>

<form action="/wiki" method="POST">
Title:<br>
<input name="wiki[title]" type="text"><br>
Content:<br>
<textarea name="revision[content]"></textarea><br>
<input type="submit" value="Submit your wiki.">
</form>