<h1><%= @wiki.title %></h1>

<div class="wiki_content">
  <%= @revision.content %>
</div>

<%= erb :'wiki/revision_list', locals: {revisions: @wiki.revisions, wiki_id: @wiki.id} %>

<div class="wiki_buttons">
  <!-- add an edit button -->
  <form action="/wiki/<%= @wiki.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete!">
  </form>
</div>