<form action="/wiki/<%= @wiki.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  Title:<br>
  <input name="wiki[title]" type="text" value="<%= @wiki.title %>"><br>
  Content:<br>
  <textarea name="wiki[content]"><%= @wiki.content %></textarea><br>
  <input type="submit" value="Submit your wiki.">
</form>